# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Virtual environment
.venv/
env/
ENV/
venv/

# Django stuff:
*.log
db.sqlite3
media/
staticfiles/

# VSCode / JetBrains IDE
.vscode/
.idea/

# Environment variables
.env
.env.*

# Node modules and frontend build
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.vite/
frontend/.next/

# System files
.DS_Store
Thumbs.db

# OS-specific
*.swp
*.swo

# Package locks (optional)
yarn.lock
pnpm-lock.yaml

.venv

backend/db.sqlite3b
backend/accounts/__pycache__/models.cpython-313.pyc
backend/accounts/__pycache__/serializers.cpython-313.pyc
backend/accounts/__pycache__/urls.cpython-313.pyc
backend/accounts/__pycache__/views.cpython-313.pyc
backend/gallery/__pycache__/models.cpython-313.pyc
backend/gallery/__pycache__/serializers.cpython-313.pyc
backend/gallery/__pycache__/urls.cpython-313.pyc
backend/gallery/__pycache__/views.cpython-313.pyc
backend/nacos_backend/__pycache__/settings.cpython-313.pyc
backend/nacos_backend/__pycache__/urls.cpython-313.pyc
backend/projects/__pycache__/models.cpython-313.pyc
backend/projects/__pycache__/serializers.cpython-313.pyc
backend/projects/__pycache__/views.cpython-313.pyc
backend/resources/__pycache__/urls.cpython-313.pyc
backend/resources/__pycache__/views.cpython-313.pyc
